<!DOCTYPE HTML>
<html>
	<head>
		<title>미하이 스토어 공동구매 - generic</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="assets/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	</head>
	<body class="is-preload">
		<script>
			loggined = false;
			var id = $.cookie('AUTH');
			if ((id!='null') && (id!=undefined) && (id!=null)) {
				loggined = true;
			}
			else{
			alert('로그인 후 사용가능 합니다.');
			//location.href = "login.html";
			}
		</script>
			
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="login.html"><script>if(loggined) document.write ( '로그아웃' ); else document.write('로그인'); </script></a></li>
							<li><a href="join.html">회원가입</a></li>
							<li><a href="register.html">등록하기</a></li>
							<li><a href="question.html">문의하기</a></li>
                            <li><script>if(loggined) document.write (id);</script></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner" id="root">
								<a style="width: auto; height: auto; display: inline-block; border: none;"
                                href="index.html"><h2 >미하이 스토어 공동구매 사이트</h2></a>
							<h1>{{ productName }}</h1>

							<div class="product">
								<div id="product_left">
									<img v-bind:src="mainImg" width="500px" height="500px" alt="" />
								</div>

								<div id="product_right">
									<form id="order"  v-on:submit="onSubmitForm" method="">
										<h2 style="margin: 8.2px 0px 0px 30px;">{{ description }}</h2>
										<h3 style="margin: 8.2px 0px 0px 30px;">상품 가격 : <span style="font-size: 1.3em">{{ price }}</span>원</h3>
										<input type="text" v-model="count" id="countarea" placeholder="수량" required>

										<!-- -------------주문 시 주소 입력하는 부분 ----------------->
										<input type="text" id="postcode" placeholder="우편번호" v-on:click="execDaumPostcode" required>
										<input type="button" class="checkbutton" v-on:click="execDaumPostcode" value="우편번호 찾기">
										<input type="text" id="address" placeholder="주소" required>
										<input type="text" v-model="detailAddress" id="detailAddress" placeholder="상세주소" required>
										<input type="text" v-model="extraAddress" id="extraAddress" placeholder="참고항목">
										
										<!-- 주소 입력 끝 -->

										<input type="submit" class="primary" value="주문하기">
									</form>
									

								</div>
							</div>
							<hr style="width: 100%;">
							<section class="product_images">
								<product />
							</div>

						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
			<script>
			var pdname = $.cookie('pdname');
			var imgArray = new Array();
			for(var i=1; i < 9;i++){
				var imagePath = 'images/' + pdname + '_'+ i + '.jpg';
				imgArray[i-1] = {src: imagePath};
			}
			Vue.component('product', {
                template: `
                <div>
                    <article v-for="image in images">
						<img :src=image.src alt="" />
					</article>
                </div>`,
                data() {
                    return {
                        images: imgArray
                    };
                    
                }
            });
			</script>
			<script>
			var pdid = $.cookie('pdid');
			var getPrice = $.cookie('pdprice');
			var getDescription = $.cookie('pddescription');
			var pdname = $.cookie('pdname');
            const app = new Vue({   //login regex & save data
                el: '#root',
                data: {
                    postcode: '',
                    address: '',
                    detailAddress: '',
                    extraAddress: '',
                    count: '',
					price: getPrice,
					description: getDescription,
					productName: pdname,
					mainImg: 'images/' + pdname + '_0' + '.jpg',
					id: pdid
                },
                methods: {
                    onSubmitForm(e) {
						e.preventDefault();
						if(this.count>0){
							if(order(this)){
								alert('주문 완료');
								location.href = "index.html";
							}
							else{
								alert('주문 실패');
							}
						}
						else{
								alert('주문 실패');
						}
                    },
					execDaumPostcode() {
						new daum.Postcode({
							oncomplete: function(data) {
							// 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
							// 각 주소의 노출 규칙에 따라 주소를 조합한다.
							// 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
							var addr = ''; // 주소 변수
							var extraAddr = ''; // 참고항목 변수
							//사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
							if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
								addr = data.roadAddress;
							} else { // 사용자가 지번 주소를 선택했을 경우(J)
								addr = data.jibunAddress;
							}
							// 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
							if(data.userSelectedType === 'R'){
							// 법정동명이 있을 경우 추가한다. (법정리는 제외)
							// 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
							if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
								extraAddr += data.bname;
							}
							// 건물명이 있고, 공동주택일 경우 추가한다.
							if(data.buildingName !== '' && data.apartment === 'Y'){
								extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
							}
							// 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
							if(extraAddr !== ''){
								extraAddr = ' (' + extraAddr + ')';
							}
							// 조합된 참고항목을 해당 필드에 넣는다.
							this.extraAddress = extraAddr;
						
							} else {
								this.extraAddress = '';
							}
							document.getElementById("extraAddress").value = this.extraAddress;
							// 우편번호와 주소 정보를 해당 필드에 넣는다.
							this.postcode = data.zonecode;
							document.getElementById("postcode").value = this.postcode;
							this.Address = addr;
							document.getElementById("address").value = this.Address;
							}
						}).open();
					}
				}
            });
			function order(data){
				const xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:3000/api/things/searchid/'+data._id);
          xhr.setRequestHeader('Content-type', 'application/json');
          xhr.onreadystatechange = function (e) 
          {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if(xhr.status === 201||xhr.status===200) 
            { // 201: Created
				console.log('id로 불러오기 성공');
				
				var jsa = JSON.parse(xhr.responseText);
				if(jsa['result']==1)
				{
					
					console.log('주문 가능한 갯수 있음');
					/********************************************/
					const xhr1 = new XMLHttpRequest();
          xhr1.open('PUT', 'http://localhost:3000/api/things/update/'+data._id);
          xhr1.setRequestHeader('Content-type', 'application/json');
          xhr1.onreadystatechange = function (e) 
          {
            if (xhr1.readyState !== XMLHttpRequest.DONE) return;
            if(xhr1.status === 201||xhr1.status===200) 
            { // 201: Created
				console.log('id로 불러오기 성공');
				
				var jsa = JSON.parse(xhr1.responseText);
				if(jsa['result']==11)
				{
					
					console.log('갯수 Update 성공');
					/********************************************/
					const xhr2 = new XMLHttpRequest();
          xhr2.open('POST', 'http://localhost:3000/api/orders/');
          xhr2.setRequestHeader('Content-type', 'application/json');
          xhr2.onreadystatechange = function (e) 
          {
            if (xhr2.readyState !== XMLHttpRequest.DONE) return;
            if(xhr2.status === 201||xhr2.status===200) 
            { // 201: Created
				
				
				var jsa = JSON.parse(xhr2.responseText);
				if(jsa['result']==1)
				{
					
					console.log('주문 성공');
					
				}
				else
				{
					console.log('주문 실패');
				}
                                
            } 
            else 
            {
                console.log('id로 불러오기 실패');
            }
			
          };
          xhr.send(JSON.stringify({ 
			"things_id":data._id,
			"postcode":document.getElementById("postcode").value,
			"detailaddress":document.getElementById("detailAddress").value,
			"address":document.getElementById("address").value,
			"extraaddress":document.getElementById("extraAddress").value,
			"count":document.getElementById("countarea").value
		  }));
		  
/***************************************************/
					
				}
				else
				{
					console.log('갯수 Update 실패');
				}
                                
            } 
            else 
            {
                console.log('id로 불러오기 실패');
            }
          };
          xhr.send(JSON.stringify({ 
			"_id":data._id,
			"count":document.getElementById("countarea").value
		  }));
		  
		  /********************************************/
				}
				else
				{
					console.log('주문 가능한 갯수 없음X');
				}
                                
            } 
            else 
            {
                console.log('id로 불러오기 실패');
            }
          };
          xhr.send(JSON.stringify({ 
			"_id":data._id,
			"count":document.getElementById("countarea").value
          }));
            
               
            return true;
            
            }
/*				
				data.id				id
				data.postcode		우편번호
				data.address		주소
				data.detailAddress	상세주소
				data.extraAddress	참고사항
				data.count			주문할 수량	*/
				
			
			</script>

	</body>
</html>
