
<!DOCTYPE HTML>
<html>
	<head>
		<title>미하이 스토어 공동구매 - index</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="assets/js/jquery.min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	<script>
		loggined = false;
        var id = $.cookie('AUTH');
        $.cookie('pdid', null);
        if ((id!='null') && (id!=undefined) && (id!=null)) {
                loggined = true;
        }
	</script>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
                <nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="login.html"><script>if(loggined) document.write ( '로그아웃' ); else document.write('로그인'); </script></a></li>
							<li><a href="join.html">회원가입</a></li>
							<li id="register"><a href="register.html">등록하기</a></li>
							<li><a href="question.html">문의하기</a></li>
                            <li><script>if(loggined) document.write (id);</script></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<div class="inner" id="root">
							<header>
								<h1>미하이 스토어 공동구매 사이트</h1>
                            </header>
                            
                            <div>
                                <input type="text" v-model="searchText" id="searcharea" placeholder="상품을 검색하세요." required>
                                <input type="submit" v-on:click="search" class="checkbutton"  id="search" value="검색">
                            </div>
                            <hr style="width: 100%;">
                            <!--<products />-->
						</div>
					</div>
			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
        <script>
        var dataSet = new Array();
        getProductsInfo();
            function getProductsInfo()
            {
            /* 모든 상품의 이름,설명 을 배열로 반환 */
            
            const xhr = new XMLHttpRequest();
            
          xhr.open('GET', 'http://localhost:3000/api/things/allsearch',true);
          xhr.setRequestHeader('Content-type', 'application/json');

xhr.onreadystatechange = function()
{
            var arr1 = Array();
            var arr2 = Array();
            var arr3 = Array();
    
    if (xhr.readyState !== XMLHttpRequest.DONE) return;
if(xhr.status === 201||xhr.status===200) 
{ // 201: Created
    var data = xhr.responseText;
var jsa = JSON.parse(data);
console.log(jsa);
    for(var i in jsa)
   {
    console.log(jsa[i]._id+jsa[i].name+jsa[i].des);
arr1.push(jsa[i]._id);
arr2.push(jsa[i].name);
arr3.push(jsa[i].des);
   }

    var dataSet = new Array(arr1,arr2,arr3);
            var idAr = 0;
            var nameAr = 1;
            var descriptionAr = 2;
            var dataArray = new Array();
            var i=0;
            for (; i < dataSet[idAr].length; i++){
                    dataArray.push({
                    id: dataSet[idAr][i],
                    name: dataSet[nameAr][i],
                    imagePath: 'images/' + dataSet[nameAr][i] + '_0' + '.jpg',
                    description: dataSet[descriptionAr][i]
                });
            }
                    
} 
else 
{
    alert('물품을 불러오는 데에 실패했습니다.');
}
}
xhr.send();
        }
            
            Vue.component('products', {
                template: `
                <div>
                    <section class="tiles">
                        <article v-for="image in images" class="style1">
                            <span class="image">
                                <img :src=image.imagePath alt=""/>
                            </span>
                            <a v-on:click="generic(image.name,image.id)">
                                <h2>{{ image.name }}</h2>
                                <div class="content">
                                    <p>{{ image.description }}</p>
                                </div>
                            </a>
                        </article>
                    </section>
                </div>`,
                data() {
                    return {
                        
                        images: dataArray,
                        nextcount: 0
                         
                   };
                    
                },
                methods: {
                    generic: function(n,id){
                        setPdnameCookie(n,id);
                        location.href = "generic.html";
                    }
                }
            });
            const app = new Vue({
                el: '#root',
                data: {
                    searchText: ''
                },
                methods:{
                    search: function() {
                        if(this.searchText == "admin"){ /*개발자 로그인*/
                            $.cookie('AUTH', 'admin', { expires: 7, path: '/' });// 개발용
                            $.cookie('AUTH', 'admin');
                            location.href = "index.html";
                        }
                        else{
                            setPdnameCookie(this.searchText,getID(this.searchText)/* 상품아이디 받아와야함 */);
                            /*상품이름 쿠키에 넣고 generic으로 이동*/
                            location.href = "generic.html";
                        }
                    }
                }
            });
			if(id != 'admin'){
				document.getElementById('register').style.display="none";
		    }
            function setPdnameCookie(n){
                //$.cookie('pdname', n, { expires: 1, path: '/' });// 세션 쿠키 생성 - 브라우저를 닫으면 없으집니다. 
                //$.cookie('pdname', n);

              
            var arr1 = Array();
            var arr2 = Array();
            var arr3 = Array();
            const xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:3000/api/things/'+document.getElementById("searcharea").value);
          xhr.setRequestHeader('Content-type', 'application/json');

xhr.onreadystatechange = function()
{
    if (xhr.readyState !== XMLHttpRequest.DONE) return;

if(xhr.status === 201||xhr.status===200) 
{ // 201: Created

    var data = xhr.responseText;
var jsa = JSON.parse(data);

console.log(data);

console.log(jsa);

   for(var i in jsa)
   {
    console.log(jsa[i].name);
   }
                    
} 
else 
{
    alert('물품을 불러오는 데에 실패했습니다. ');
}




};
xhr.send(JSON.stringify({ 
            "name":document.getElementById("searcharea").value
          }));

            }
         
        
        function getID(Name)   {
            /*Name으로 상품 ID받아오기*/
            var productID = 1;
            return productID;
        } 
        </script>
	</body>
