<!DOCTYPE HTML>
<html>
	<head>
		<title>미하이 스토어 공동구매 - index</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="assets/js/jquery.min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
	<script>
		function getProductsInfo(){/* 모든 상품의 이름,설명 을 배열로 반환 */
/* 예시 */   var prdArray = new Array("kau", "구글", "김치");
            var descriptionArray = new Array("한국 항공대", "검색사이트","김치 설명");
            var dataset = new Array(prdArray, descriptionArray);
            return dataset;
        }
		loggined = false;
        var id = $.cookie('AUTH');
        if ((id!='null') && (id!=undefined) && (id!=null)) {
                loggined = true;
        }
        var dataset = new Array();
        
        dataset = getProductsInfo();
        var imageAr = 0;
        var descriptionAr = 1;
        var dataArray = new Array();
        for (var i = 0; i < dataset[imageAr].length; i++){
                dataArray.push({
                name: dataset[imageAr][i],
                imagePath: 'images/' + dataset[imageAr][i] + '_0' + '.jpg',
                description: dataset[descriptionAr][i]
            });
        }
	</script>
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
                <nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="login.html"><script>if(loggined) document.write ( '로그아웃' ); else document.write('로그인'); </script></a></li>
							<li><a href="join.html">회원가입</a></li>
							<li><a href="register.html">등록하기</a></li>
							<li><a href="question.html">문의하기</a></li>
                            <li><script>if(loggined) document.write (id);</script></li>
						</ul>
					</nav>
				<!-- Main -->
					<div id="main">
						<div class="inner" id="root">
							<header>
								<h1>미하이 스토어 공동구매 사이트</h1>
                            </header>
                            
                            <div>
                                <input type="text" v-model="searchText" id="searcharea" placeholder="상품을 검색하세요." required>
                                <input type="submit" v-on:click="search" class="checkbutton"  id="search" value="검색">
                            </div>
                            <hr style="width: 100%;">
                            <products />
						</div>
					</div>
			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
        <script>
            Vue.component('products', {
                template: `
                <div>
                    <section class="tiles">
                        <article v-for="image in images" class="style1">
                            <span class="image">
                                <img :src=image.imagePath alt=""/>
                            </span>
                            <a v-on:click="generic(image.name)">
                                <h2>{{ image.name }}</h2>
                                <div class="content">
                                    <p>{{ image.description }}</p>
                                </div>
                            </a>
                        </article>
                    </section>
                    <div class="loadMoreButton">
                        <button v-on:click="addImage" class="loadMoreButton">Load more</button>
                    </div> 
                </div>`,
                data() {
                    return {
                        images: dataArray,
                        nextcount: dataset[imageAr].length
                    };
                    
                },
                methods: {
                    addImage: function () {
                        for (var i = 0; i < 30; i++){
                            var n = i % 9;
                            if (!n) { n = 9; }
                            this.images.push({
                                name: '상품 ' + this.nextcount++,
                                imagePath: 'images/pic0'+ n +'.jpg',
                                description: 'Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.'
                            });
                        }
                    },
                    generic: function(n){
                        setPdnameCookie(n);
                        location.href = "generic.html";
                    }
                }
            });
            function setPdnameCookie(n){
                $.cookie('pdname', n, { expires: 1, path: '/' });// 세션 쿠키 생성 - 브라우저를 닫으면 없으집니다. 
                $.cookie('pdname', n);
            }
        </script>
        <script>
            const app = new Vue({
                el: '#root',
                data: {
                    searchText: ''
                },
                methods:{
                    search: function() {
                        if(this.searchText == "admin"){ /*개발자 로그인*/
                            $.cookie('AUTH', 'admin', { expires: 7, path: '/' });// 개발용
                            $.cookie('AUTH', 'admin');
                            return;
                        }
                        else{setPdnameCookie(this.searchText);
                            /*상품이름 쿠키에 넣고 generic으로 이동*/
                            location.href = "generic.html";
                        }
                    }
                }
            });
            function setPdnameCookie(n){
                $.cookie('pdname', n, { expires: 1, path: '/' });// 세션 쿠키 생성 - 브라우저를 닫으면 없으집니다. 
                $.cookie('pdname', n);
            }
        </script>
	</body>
</html>
