<!DOCTYPE HTML>
<html>
<head>
    <title>미하이 스토어 공동구매 - join</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="assets/css/main.css" />
    <noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
                <nav id="menu">
                    <h2>Menu</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="login.html">로그인</a></li>
                        <li><a href="join.html">회원가입</a></li>
                        <li style="display:none"><a href="register.html">등록하기</a></li>
                        <li><a href="question.html">문의하기</a></li>
                    </ul>
                </nav>

				<!-- Main -->
					<div id="root">
						<div class="inner">
							<a style="width: auto; height: auto; display: inline-block; border: none;"
                                href="index.html"><h2 >미하이 스토어 공동구매 사이트</h2></a>
							<h1>회원가입</h1>
							<form id="loginall" v-on:submit="onSubmitForm">
                                <fieldset>
                                    <div>
                                        <div>
                                            <input type="text"  v-model="id" id="idarea"  placeholder="아이디" required>
                                            <input type="button" class="checkbutton" v-on:click="checkForOverlapping" id="repeatcheck" value="중복 확인">

											<input type="password" v-model="password" id="pwdarea" placeholder="비밀번호" required>
											<input type="password" id="pwdcarea" v-model="passwordC" placeholder="비밀번호 확인" required>
											<input type="text" id="namearea" v-model="name" placeholder="이름" required>
											<input type="text" id="phonearea" v-model="phoneNum" placeholder="핸드폰 번호" required>
											<input type="email"  id="emailarea" v-model="email" placeholder="이메일" required>
                                        </div>
                    
                                        <div>
                                            <input type="submit" class="primary" value="회원가입" required>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
						</div>
					</div>
			</div>

		<!-- Scripts -->
		<script src="assets/js/jquery.min.js"></script>
		<script src="assets/js/browser.min.js"></script>
		<script src="assets/js/breakpoints.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script src="assets/js/main.js"></script>
		<script src="assets/js/core.min.js"></script>
		<script src="assets/js/sha256.min.js"></script>
        <script>
            const app = new Vue({   //login regex & save data
                el: '#root',
                data: {
                    id: '',
                    password: '',
                    passwordC: '',
                    name: '',
                    phoneNum: '',
                    email: ''
                },
                watch: {
                    id(val) {
                        const reg = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;
                        if(reg.exec(val)!==null){
                        return this.id = this.id.slice(0,-1);
                        }
                    },
                    name(val) {
                        const reg = /[0-9|a-z|A-Z]/;
                        if(reg.exec(val)!==null){
                        return this.name = this.name.slice(0,-1);
                        }
                    },
                     phoneNum() {
                        return this.phoneNum = this.phoneNum.replace(/[^0-9]/g, '');
                    }
                },
                methods: {
                    onSubmitForm(e) {
                        const emailreg = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
                        const phonereg = /^\d{3}\d{3,4}\d{4}$/;
                        const idreg =  /^[A-Za-z0-9]{4,12}$/;
                        e.preventDefault();
                        if (this.password != this.passwordC) {
                            alert('비밀번호가 서로 다릅니다. 다시 입력해 주십시오.');
                        }
                        else if (!idreg.test(this.password)) {
                            alert('허용되지 않는 비밀번호입니다. 영문, 숫자를 조합해 4자리이상 12자리 이하로 입력해 주십시오.');
                        }  
                        else if (this.email.length<6 || !emailreg.test(this.email)) {
                            alert('잘못된 이메일주소 입니다. 다시 확인하고 입력해 주십시오.');
                        }
                        else if (!phonereg.test(this.phoneNum)) {
                            alert('잘못된 핸드폰 번호입니다. 다시 확인하고 입력해 주십시오.');
                        }
                        else if (!idreg.test(this.id)){
                            alert('잘못된 아이디 형식입니다. 영문, 숫자를 조합해 4자리이상 12자리 이하로 입력해 주십시오.');
                        }
                        else {  //All fine
                           requestJoin(this);   /* updateDBRequest */
                               
                           
                        }
                    },
                    checkForOverlapping : function (event) {
                        if (event) {
                            OverlappCheck(this.id);
                        }
                    }
                }
            });
            function requestJoin(data) {    /*  회원가입 요청  */
                const xhr = new XMLHttpRequest();
          xhr.open('POST', 'http://localhost:3000/api/accounts/');
          xhr.setRequestHeader('Content-type', 'application/json');
          xhr.onreadystatechange = function (e) 
          {
            if (xhr.readyState !== XMLHttpRequest.DONE) return;
            if(xhr.status === 201||xhr.status===200) 
            { // 201: Created
                alert('회원가입 성공. 로그인 해 주세요.');
                                location.href = "login.html";
            } 
            else 
            {
                alert('중복된 아이디거나 다른 이유로 요청이 실패했습니다.');
            }
          };
          xhr.send(JSON.stringify({ 
            "id":data.id
          ,"pass":CryptoJS.SHA256(data.password).toString()
          ,"name":data.name
          ,"phone":data.phoneNum
          ,"email":data.email}));
            
               
            
            
            }
        function OverlappCheck(id)
        {
            console.log("account");
      const xhr = new XMLHttpRequest();
      xhr.open('POST', 'http://localhost:3000/api/accounts/'+id);
      xhr.setRequestHeader('Content-type', 'application/json');
xhr.onreadystatechange = function()
{
    if (xhr.readyState !== XMLHttpRequest.DONE) 
          return;
          if(xhr.status===404)
          {
            alert('사용가능한 아이디 입니다.');
              return true;
          }
          else
          {
            alert('이미 존재하는 아이디 입니다.');
              return false;
          }
};
   
      xhr.send(JSON.stringify({ 
            "id":id
          }));
	     /* true : 중복없음 false : 중복된 아이디 */
            
    }
        </script>
	</body>
</html>
