<!DOCTYPE HTML>
<html>
	<head>
		<title>미하이 스토어 공동구매 - register</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="assets/js/jquery.min.js"></script>
        
        	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
					<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="login.html"><script>if(loggined) document.write ( '로그아웃' ); else document.write('로그인'); </script></a></li>
                            <li><a href="join.html">회원가입</a></li>
                            <li><a href="register.html">등록하기</a></li>
							<li><a href="question.html">문의하기</a></li>
						</ul>
					</nav>

				<!-- Main -->
					<div id="main">
						<div class="inner" id="root">
                        	<a style="width: auto; height: auto; display: inline-block; border: none;"
                            href="index.html"><h2 >미하이 스토어 공동구매 사이트</h2></a>
							<h1>등록하기</h1>
							<form id="form" v-on:submit="onSubmitForm" action="upload.php" method="post" enctype="multipart/form-data" name="">
								<input type="text" v-model="productName" id="pdarea" name="pdname" placeholder="상품명" required>
								<input type="text" v-model="price" id="pricearea" placeholder="가격" required>
								<input type="text" v-model="Amount" id="maxarea" placeholder="총 수량">
                                <textarea id="registerarea" v-model="description" placeholder=" 내용을 적어주세요."></textarea><br>

                                <input multiple="multiple" type="file" id = "upload" name="upload[]"><br>
								<input type="submit" class="primary" value="상품 등록하기" required>
							</form>
						</div>
					</div>
			</div>

		<!-- Scripts -->
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>
		<script>
            const app = new Vue({   //regex & save data
                el: '#root',
                data: {
                    productName: '',    /*상품 이름*/
                    description: '',    /*상품 설명*/
                    price: '',          /*상품 가격*/
                    Amount: '',  /*상품 총 개수 */
                },
               watch: {
                     price() {
                        return this.price = this.price.replace(/[^0-9]/g, '');
                    },
                    productName() {
                        return this.productName = this.productName.replace(/[_]/g, '');
                    }
			
                },
                methods: {
                    onSubmitForm(e) {
							e.preventDefault();
							if (writeProduct(this, getID() )) {
                                alert('상품등록 완료');
                                document.getElementById('form').submit();
							}
                            else{
                                alert('상품등록 실패');
                            }
						}
                }
            });
            function getID(){
                return id;
            }
            function writeProduct(data,id){ 
                /*  data.productName    상품 이름
                    data.description    상품 설명
                    data.price          상품 가격
                    data.Amount         상품 총 개수
                    id                  사용자 아이디
                        */
                return true;
            }
            </script>
        
	</body>
</html>
